
.card-score {
	background-color: #ffffff;
}
.card-score_ {
	background-color: #ffffff;
}
.card-score_1 {
	background-color: #f38989;
}
.card-score_2 {
	background-color: #f2b4a3;
}
.card-score_3 {
	background-color: #ffdbc2;
}
.card-score_4 {
	background-color: #eaf2d7;
}
.card-score_5 {
	background-color: #d5e197;
}

.card-cell {
	display: block;
	height: 24px;
	width: 24px;
}
.ranking_0 {
	background-color: #ffffff;
}
// https://loading.io/color/feature/Blues-8/
// https://loading.io/color/feature/Blues-9
.ranking_1, .ranking_2 {
	background-color: #B22222;
}
.ranking_3, .ranking_4 {
	background-color: #f38989;
}
.ranking_5, .ranking_6 {
	background-color: #2171b5;
}
.ranking_7, .ranking_8 {
	background-color: #08519c;
}
.ranking_9, .ranking_10 {
	background-color: #08306b;
}
