<style>

	.map {
		flex: 60%;
	}

	.content {
		display: block;
		flex:1;
	}

  .list {
    background: light-dark(var(--p-surface-50), var(--p-surface-900));
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
  }

  .title {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
  }
</style>

<p-splitter [panelSizes]="[60, 40]" [minSizes]="[20, 40]" class="content" > 

	<ng-template pTemplate>

		<p-scrollpanel #scrollpanel [style]="{ height: 'calc(100vh - 110px)' }" class="w-100">

			<p-panel>
				<selectors-panel (onChangeEvent)="onChange($event)"></selectors-panel>
				<filters-panel></filters-panel>
			</p-panel>
			
			<div class="container">
				<div class="row row-cols-2 g-3">

					<div class="col-12 col-sm-6 col-md-4" *ngFor="let merchant of merchants">
						<div class="card h-100" (mouseover)='overListItem()' (mouseout)='outListItem()' id="RES_{{merchant.id}}">
							<img [src]="merchant.image" class="card-img-top" [alt]="merchant.name"/>
							<div class="card-body">
								<h5 class="card-title"><a [href]="merchant.web" target="_blank">{{merchant.name}}</a></h5>
								<p>{{merchant.address}}</p>
								<p *ngIf="merchant.num">{{merchant.num}} Plazas</p>
								<p *ngIf="merchant.price">Desde {{merchant.price}} €</p>
								<!--p class="card-text">{{merchant.desc}}</p-->
							</div>
						</div>
					</div>

				</div>
			</div>

		</p-scrollpanel>
	</ng-template> 

	<ng-template pTemplate *ngIf="desktop">
		<div class="map">
			<app-angular-google-maps [merchantsCopy]="merchants" [coordsCopy]="coords" (onMakerOverEvent)="onMarkerOver($event)" (onMakerOutEvent)="onMarkerOut($event)"></app-angular-google-maps>
		</div>
	</ng-template>

</p-splitter>
