
.card-score {
	background-color: #ffffff;
}
.card-score_ {
	background-color: #ffffff;
}
.card-score_1 {
	background-color: #f38989;
}
.card-score_2 {
	background-color: #f2b4a3;
}
.card-score_3 {
	background-color: #ffdbc2;
}
.card-score_4 {
	background-color: #F2EFE2;
}
.card-score_5 {
	background-color: #d5e197;
}