
.card-score {
	background-color: #F2EFE2;
}
.card-score_ {
	background-color: #F2EFE2;
}
.card-score_1 {
	background-color: #F2EFE2;
}
.card-score_2 {
	background-color: #F2EFE2;
}
.card-score_3 {
	background-color: #F2EFE2;
}
.card-score_4 {
	background-color: #F2EFE2;
}
.card-score_5 {
	background-color: #d5e197;
}