<style>
	
</style>
<div class="container">
	<div class="row g-3">
		<div class="col-2">
			<div class="card text-center border-0">
				<p-togglebutton [(ngModel)]="healthWheelchair" size="large" styleClass="w-36">
					<ng-template #content>
						<img src="../assets/icon/ico-health-wheelchair.svg" class="card-cell">
					</ng-template>
				</p-togglebutton>
				<h6 class="fs-6 d-none d-md-block">Movilidad</h6>
			</div>
		</div>
		<div class="col-2">
			<div class="card text-center border-0">
				<p-togglebutton [(ngModel)]="healthDementia" size="large" styleClass="w-36">
					<ng-template #content>
						<img src="../assets/icon/ico-health-dementia.svg" class="card-cell">
					</ng-template>
				</p-togglebutton>
				<h6 class="fs-6 d-none d-md-block">Demencia</h6>
			</div>
		</div>
		<div class="col-2">
			<div class="card text-center border-0">
				<p-togglebutton [(ngModel)]="leisureBrain" size="large" styleClass="w-36">
					<ng-template #content>
						<img src="../assets/icon/ico-leisure-brain.svg" class="card-cell">
					</ng-template>
				</p-togglebutton>
				<h6 class="fs-6 d-none d-md-block">Intelectual</h6>
			</div>
		</div>
		<div class="col-2">
			<div class="card text-center border-0">
				<p-togglebutton [(ngModel)]="leisureGarden" size="large" styleClass="w-36">
					<ng-template #content>
						<img src="../assets/icon/ico-leisure-garden.svg" class="card-cell">
					</ng-template>
				</p-togglebutton>
				<h6 class="fs-6 d-none d-md-block">Naturaleza</h6>
			</div>
		</div>
		<div class="col-2">
			<div class="card text-center border-0">
				<p-togglebutton [(ngModel)]="leisureGym" size="large" styleClass="w-36">
					<ng-template #content>
						<img src="../assets/icon/ico-leisure-gym.svg" class="card-cell">
					</ng-template>
				</p-togglebutton>
				<h6 class="fs-6 d-none d-md-block">Ejercicio</h6>
			</div>
		</div>
		<div class="col-2">
			<div class="card text-center border-0">
				<p-togglebutton [(ngModel)]="leisureShops" size="large" styleClass="w-36">
					<ng-template #content>
						<img src="../assets/icon/ico-leisure-shops.svg" class="card-cell">
					</ng-template>
				</p-togglebutton>
				<h6 class="fs-6 d-none d-md-block">Ciudad</h6>
			</div>
		</div>
	</div>
</div>