<style>
	
</style>
<div class="container">
	<div class="row g-3">
		<div class="col-2">
			<div class="card text-center border-0">
				<app-svg-icon class="card-cell ranking_0" [path]="'../assets/icon/ico-health-wheelchair.svg'"></app-svg-icon>
				<span class="fs-6 d-none d-md-block">Single</span>
			</div>
		</div>
		<div class="col-2">
			<div class="card text-center border-0">
				<app-svg-icon class="card-cell ranking_0" [path]="'../assets/icon/ico-health-dementia.svg'"></app-svg-icon>
				<h6 class="fs-6 d-none d-md-block">Gym</h6>
			</div>
		</div>
		<div class="col-2">
			<div class="card text-center border-0">
				<app-svg-icon class="card-cell ranking_0" [path]="'../assets/icon/ico-leisure-brain.svg'"></app-svg-icon>
				<h6 class="fs-6 d-none d-md-block">Park</h6>
			</div>
		</div>
		<div class="col-2">
			<div class="card text-center border-0">
				<app-svg-icon class="card-cell ranking_0" [path]="'../assets/icon/ico-leisure-garden.svg'"></app-svg-icon>
				<h6 class="fs-6 d-none d-md-block">Pool</h6>
			</div>
		</div>
		<div class="col-2">
			<div class="card text-center border-0">
				<app-svg-icon class="card-cell ranking_0" [path]="'../assets/icon/ico-leisure-gym.svg'"></app-svg-icon>
				<h6 class="fs-6 d-none d-md-block">Card title</h6>
			</div>
		</div>
		<div class="col-2">
			<div class="card text-center border-0">
				<app-svg-icon class="card-cell ranking_0" [path]="'../assets/icon/ico-leisure-shops.svg'"></app-svg-icon>
				<h6 class="fs-6 d-none d-md-block">Card title</h6>
			</div>
		</div>
	</div>
</div>