<style>
  .main {
		position:relative;
		overflow:hidden;

    height: 100vh;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;
  }

	.map {
		flex: 60%;
	}

	.content {
		display: block;
		flex:1;
	}

  .list {
    background: light-dark(var(--p-surface-50), var(--p-surface-900));
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
  }

  .title {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
  }
</style>

<main class="main">

	<p-menubar [model]="menuItems"></p-menubar>


	<p-splitter [panelSizes]="[60, 40]" [minSizes]="[20, 40]" [style]="{ height: '100%' }" class="content" > 

		<ng-template pTemplate>
			<p-scrollpanel [style]="{ height: 'calc(100vh - 110px)' }">

				<p-menubar [model]="menuItems"></p-menubar>
				
				<div class="container">
					<div class="row g-3">

						<div class="col-12 col-sm-6 col-md-4" *ngFor="let city of cityList">
							<div class="card">
								<img [src]="city.url" class="card-img-top" [alt]="city.name"/>
								<div class="card-body">
									<h5 class="card-title">{{city.name}}</h5>
									<p class="card-text">
										{{city.desc}}
									</p>
								</div>
							</div>
						</div>

					</div>
				</div>

			</p-scrollpanel>
		</ng-template> 

		<ng-template pTemplate>
			<div class="map">
				<app-angular-google-maps></app-angular-google-maps>
			</div>
		</ng-template>

	</p-splitter>

	<p-menubar [model]="menuItems"></p-menubar>

</main>

<router-outlet />