<style>
  .main {
		position:relative;
		overflow:hidden;

    height: 100vh;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;
  }

	.map {
		flex: 60%;
	}

	.content {
		display: block;
		flex:1;
	}

  .list {
    background: light-dark(var(--p-surface-50), var(--p-surface-900));
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
  }

  .title {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
  }
</style>

<main class="main">

	<p-menubar [model]="menuItems"></p-menubar>
  
	<p-splitter [panelSizes]="[60, 40]" [minSizes]="[20, 40]" [style]="{ height: '100%' }" class="content" > 


		<ng-template pTemplate>
			<div class="row row-cols-3 g-3">




				<div class="col" *ngFor="let city of cityList">
					<div class="card">
						<img [src]="city.url" class="card-img-top" [alt]="city.name"/>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">
								{{city.desc}}
							</p>
						</div>
					</div>
				</div>




				<div class="col">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill" />
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">
								0This is a longer card with supporting text below as a natural lead-in to
								additional content. This content is a little bit longer.
							</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road" />
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">
								0This is a longer card with supporting text below as a natural lead-in to
								additional content. This content is a little bit longer.
							</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top" alt="Los Angeles Skyscrapers" />
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">0This is a longer card with supporting text below as a natural lead-in to
								additional content.</p>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers" />
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">
								0This is a longer card with supporting text below as a natural lead-in to
								additional content.
							</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/new/standard/city/046.webp" class="card-img-top" alt="Skyscrapers" />
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">
								0This is a longer card with supporting text below as a natural lead-in to
								additional content. This content is a little bit longer.
							</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/new/standard/city/050.webp" class="card-img-top" alt="Skyscrapers" />
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">
								0This is a longer card with supporting text below as a natural lead-in to
								additional content. This content is a little bit longer.
							</p>
						</div>
					</div>
				</div>

			</div>

			<!--p-listbox [options]="countries" [(ngModel)]="selectedCountries" [metaKeySelection]="false" [filter]="true" [multiple]="true" optionLabel="name" [listStyle]="{'max-height':'auto'}" [style]="{'width':'100%'}">
				<ng-template let-country pTemplate="item">
	
					<p-listbox [options]="countries" [(ngModel)]="selectedCountries" [metaKeySelection]="false" [filter]="true" [multiple]="true" optionLabel="name" [listStyle]="{'max-height':'auto'}" [style]="{'width':'100%'}">
						<ng-template let-country pTemplate="item">
							<div class="country-item">
								<div>{{country.name}}</div>
							</div>
						</ng-template>
					</p-listbox>

				</ng-template>
			</p-listbox-->

		</ng-template> 

		<ng-template pTemplate>
			<div class="map">
				<app-angular-google-maps></app-angular-google-maps>
			</div>
		</ng-template>

	</p-splitter>

	<p-menubar [model]="menuItems"></p-menubar>

</main>

<router-outlet />