<style>
  .main {
		position:relative;
		overflow:hidden;

    height: 100vh;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;
  }

	.map {
		flex: 60%;
	}

	.content {
		display: block;
		flex:1;
	}

  .list {
    background: light-dark(var(--p-surface-50), var(--p-surface-900));
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
  }

  .title {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
  }
</style>

<main class="main">

	<p-menubar [model]="menuItems"></p-menubar>

	<!--p-panel header="Header">
    <p class="m-0">
        Lorem ipsum dolor sit amet...
    </p>
	</p-panel-->

	<p-splitter [panelSizes]="[60, 40]" [minSizes]="[20, 40]" class="content" > 

		<ng-template pTemplate>

			<p-scrollpanel [style]="{ height: 'calc(100vh - 110px)' }">

				<p-panel>

					<div class="container mb-4">
						<div class="row">
							<div class="col">
								<p-dropdown [options]="services" [(ngModel)]="selectedServiceCode" optionLabel="name" optionValue="code" class="w-100 mb-2"></p-dropdown>
							</div>
							<div class="col">
								<p-dropdown [options]="countries" [(ngModel)]="selectedCountryCode" optionLabel="name" optionValue="code" class="w-100 mb-2"></p-dropdown>
							</div>
							<div class="col">
								<p-dropdown [options]="cities" [(ngModel)]="selectedCityCode" optionLabel="name" optionValue="code" class="w-100 mb-2"></p-dropdown>
							</div>
						</div>
					</div>

					<div class="container">
						<div class="row g-3">
							<div class="col-2 col-md-1">
								<div class="card text-center border-0">
									<i class="fa fa-solid fa-gift fa-lg" aria-hidden="true"></i>
									<span class="fs-6 d-none d-md-block">Single</span>
								</div>
							</div>
							<div class="col-2 col-md-1">
								<div class="card text-center border-0">
									<i class="fa fa-solid fa-bicycle fa-lg" aria-hidden="true"></i>
									<h6 class="fs-6 d-none d-md-block">Gym</h6>
								</div>
							</div>
							<div class="col-2 col-md-1">
								<div class="card text-center border-0">
									<i class="fa fa-solid fa-headphones fa-lg" aria-hidden="true"></i>
									<h6 class="fs-6 d-none d-md-block">Park</h6>
								</div>
							</div>
							<div class="col-2 col-md-1">
								<div class="card text-center border-0">
									<i class="fa fa-solid fa-print fa-lg" aria-hidden="true"></i>
									<h6 class="fs-6 d-none d-md-block">Pool</h6>
								</div>
							</div>
							<div class="col-2 col-md-1">
								<div class="card text-center border-0">
									<i class="fa fa-solid fa-plane fa-lg" aria-hidden="true"></i>
									<h6 class="fs-6 d-none d-md-block">Card title</h6>
								</div>
							</div>
							<div class="col-2 col-md-1">
								<div class="card text-center border-0">
									<i class="fa fa-solid fa-wifi fa-lg" aria-hidden="true"></i>
									<h6 class="fs-6 d-none d-md-block">Card title</h6>
								</div>
							</div>
							<div class="col-2 col-md-1">
								<div class="card text-center border-0">
									<i class="fa fa-solid fa-gift fa-lg" aria-hidden="true"></i>
									<h6 class="fs-6 d-none d-md-block">Single</h6>
								</div>
							</div>
							<div class="col-2 col-md-1">
								<div class="card text-center border-0">
									<i class="fa fa-solid fa-bicycle fa-lg" aria-hidden="true"></i>
									<h6 class="fs-6 d-none d-md-block">Gym</h6>
								</div>
							</div>
							<div class="col-2 col-md-1">
								<div class="card text-center border-0">
									<i class="fa fa-solid fa-headphones fa-lg" aria-hidden="true"></i>
									<h6 class="fs-6 d-none d-md-block">Park</h6>
								</div>
							</div>
							<div class="col-2 col-md-1">
								<div class="card text-center border-0">
									<i class="fa fa-solid fa-print fa-lg" aria-hidden="true"></i>
									<h6 class="fs-6 d-none d-md-block">Pool</h6>
								</div>
							</div>
							<div class="col-2 col-md-1">
								<div class="card text-center border-0">
									<i class="fa fa-solid fa-plane fa-lg" aria-hidden="true"></i>
									<h6 class="fs-6 d-none d-md-block">Card title</h6>
								</div>
							</div>
							<div class="col-2 col-md-1">
								<div class="card text-center border-0">
									<i class="fa fa-solid fa-wifi fa-lg" aria-hidden="true"></i>
									<h6 class="fs-6 d-none d-md-block">Card title</h6>
								</div>
							</div>
						</div>
					</div>
				</p-panel>
				
				<div class="container">
					<div class="row row-cols-2 g-3">

						<div class="col-12 col-sm-6 col-md-4" *ngFor="let nursingHouse of nursingHouses">
							<div class="card h-100">
								<img [src]="nursingHouse.image" class="card-img-top" [alt]="nursingHouse.name"/>
								<div class="card-body">
									<h5 class="card-title"><a [href]="nursingHouse.web" target="_blank">{{nursingHouse.name}}</a></h5>
									<p>{{nursingHouse.address}}</p>
									<p>{{nursingHouse.num}} Plazas</p>
									<p *ngIf="nursingHouse.price">Desde {{nursingHouse.price}} €</p>
									<!--p class="card-text">{{nursingHouse.desc}}</p-->
								</div>
							</div>
						</div>

					</div>
				</div>

			</p-scrollpanel>
		</ng-template> 

		<ng-template pTemplate *ngIf="desktop">
			<div class="map">
				<app-angular-google-maps></app-angular-google-maps>
			</div>
		</ng-template>

	</p-splitter>

	<p-menubar [model]="menuItems"></p-menubar>

</main>

<router-outlet />